Source: kuryr-lib
Section: python
Priority: optional
Maintainer: Tobias Urdin <tobias@busybox.se>
Build-Depends:
 debhelper (>=9),
 dh-python,
 openstack-pkg-tools,
 python-all,
 python-pbr,
 python-setuptools,
 python3-all,
 python3-pbr,
 python3-setuptools,
 python3-sphinx,
Build-Depends-Indep:
 python-coverage (>= 4.5),
 python-ddt (>= 1.0.1),
 python-hacking (= 0.12.0),
 python-os-testr (>= 1.0.0),
 python-openstackdocstheme (>= 1.18.1),
 python-oslotest (>= 1:3.2.0),
 python-subunit (>= 1.0.0),
 python-reno (>= 2.5.0),
 python-sphinx (>= 1.6.7),
 python-testrepository (>= 0.0.18),
 python-testscenarios (>= 0.4),
 python-testtools (>= 2.2.0),
 python-babel (>= 2.4.0),
 python-ipaddress (>= 1.0.16),
 python-keystoneauth1 (>= 3.2.0),
 python-neutron-lib (>= 1.13.0),
 python-oslo.concurrency (>= 3.20.0),
 python-oslo.i18n (>= 3.15.3),
 python-oslo.log (>= 3.30.0),
 python-oslo.utils (>= 3.28.0),
 python-pyroute2 (>= 0.4.21),
 python-neutronclient (>= 6.3.0),
 python-six (>= 1.9.0),
 python3-coverage (>= 4.5),
 python3-ddt (>= 1.0.1),
 python3-hacking (= 0.12.0),
 python3-os-testr (>= 1.0.0),
 python3-openstackdocstheme (>= 1.18.1),
 python3-oslotest (>= 1:3.2.0),
 python3-subunit (>= 1.0.0),
 python3-reno (>= 2.5.0),
 python3-sphinx (>= 1.6.7),
 python3-testrepository (>= 0.0.18),
 python3-testscenarios (>= 0.4),
 python3-testtools (>= 2.2.0),
 python3-babel (>= 2.4.0),
 python3-keystoneauth1 (>= 3.2.0),
 python3-neutron-lib (>= 1.13.0),
 python3-oslo.concurrency (>= 3.20.0),
 python3-oslo.i18n (>= 3.15.3),
 python3-oslo.log (>= 3.30.0),
 python3-oslo.utils (>= 3.28.0),
 python3-pyroute2 (>= 0.4.21),
 python3-neutronclient (>= 6.3.0),
 python3-six (>= 1.9.0),
Standards-Version: 4.1.2
Homepage: https://launchpad.net/kuryr
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.4
XS-Testsuite: autopkgtest

Package: python-kuryr-lib
Architecture: all
Depends:
 python-babel (>= 2.4.0),
 python-ipaddress (>= 1.0.16),
 python-keystoneauth1 (>= 3.2.0),
 python-neutron-lib (>= 1.13.0),
 python-oslo.concurrency (>= 3.20.0),
 python-oslo.i18n (>= 3.15.3),
 python-oslo.log (>= 3.30.0),
 python-oslo.utils (>= 3.28.0),
 python-pyroute2 (>= 0.4.21),
 python-neutronclient (>= 6.3.0),
 python-six (>= 1.9.0),
 ${misc:Depends},
 ${python:Depends},
Suggests:
 python-kuryr-lib-doc
Description: Kuryr is a Docker network plugin that uses Neutron (Python 2)
 Kuryr is a Docker network plugin that uses Neutron to provide
 networking services to Docker containers.
 .
 This package installs the library for Python 2.7

Package: python3-kuryr-lib
Architecture: all
Depends:
 python3-babel (>= 2.4.0),
 python3-keystoneauth1 (>= 3.2.0),
 python3-neutron-lib (>= 1.13.0),
 python3-oslo.concurrency (>= 3.20.0),
 python3-oslo.i18n (>= 3.15.3),
 python3-oslo.log (>= 3.30.0),
 python3-oslo.utils (>= 3.28.0),
 python3-pyroute2 (>= 0.4.21),
 python3-neutronclient (>= 6.3.0),
 python3-six (>= 1.9.0),
 ${misc:Depends},
 ${python3:Depends},
Suggests: python-kuryr-lib-doc
Description: Kuryr is a Docker network plugin that uses Neutron (Python 3)
 Kuryr is a Docker network plugin that uses Neutron to provide
 networking services to Docker containers.
 .
 This package installs the library for Python 3.

Package: python-kuryr-lib-doc
Architecture: all
Section: doc
Depends:
 ${misc:Depends},
 ${sphinxdoc:Depends},
Description: Kuryr is a Docker network plugin that uses Neutron (common documentation)
 Kuryr is a Docker network plugin that uses Neutron to provide
 networking services to Docker containers.
 .
 This is the common documentation package.
